@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}


/* NAVBAR */

header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo {
    height: 100%;
    overflow: hidden;
}

.logo img {
    height: 100%;
    overflow: hidden;

}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 45px;
}

.nav-menu li {
    list-style: none;
    width: 100%;
    width: fit-content;
}

.nav-menu li a {
    color: #444;
    text-decoration: none;
}

.nav-link, .contact-btn {
    transition: 0.3s ease;
    display: block;
    padding: .7rem 0;
}

.nav-link:hover {
    color: #17b3e3;
    /* text-decoration: underline; */
}

.contact-btn {
    background-color: #17b3e3;
    padding: .7rem;
    border-radius: 10px;
    color: white !important;
}

.contact-btn:hover {
    color: white;
    /* text-decoration: underline; */
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    transform: all 0.3s ease-in-out;
    background-color: #333;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu li {
        width: 100%;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 10vh;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
    }

    .nav-item {
        padding: 0;
    }

    .nav-link:hover {
        color: #fff;
    }

    .nav-item:hover {
        text-decoration: underline;
        background-color: #17b3e3;
    }

    .nav-menu.active {
        left: 0;
    }
 
    .contact-btn {
        background-color: #ffffff00;
    }
}

main {
    padding-top: 10vh;
    background: #17b3e3;
}

main h1 {
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: clamp(1.25rem, 0.1786rem + 2.8571vw, 2.5rem);
}

.craft-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
}

.craft-item {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
}


.craft-item img {
    width: 100%;
}

.craft-item h2 {
    font-size: clamp(1.25rem, 0.1786rem + 2.8571vw, 2.5rem);
    padding: 7px 0;
}

.craft-item p {
    font-size: clamp(1rem, 0.625rem + 1vw, 1.4375rem);
}

.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1080px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services-item {
    padding: 20px;
    background-color: #17b3e3;
    border-radius: 10px;
}

.services-item i {
    font-size: clamp(1rem, 0.4107rem + 1.5714vw, 1.6875rem);
    padding: 5px 0;
    /* color: #fff; */
}

.services-item h1 {
    font-size: clamp(1rem, 0.4107rem + 1.5714vw, 1.6875rem);
    padding: 5px 0;
    /* color: #fff; */
}

.services-item p {
    font-size: clamp(1rem, 0.7857rem + 0.5714vw, 1.25rem);
}

/* LAST HEADING */

.last-heading {
    margin: 0 auto;
    width: fit-content;
    padding: 75px 0;
}

.last-heading {
    margin: 0 auto;
    width: fit-content;
    padding: 75px 0;
}

.heading {
    padding: 30px;
    text-align: center;
}

.last-heading h1 {
    font-size: clamp(1.125rem, -0.0536rem + 3.1429vw, 2.5rem);    
}

.contact-button {
    margin: 0 auto;
    display: block;
    padding: 12px 17px;
    border-radius: 5px;
    background-color: #17b3e3;
    width: fit-content;
    color: white;
    text-decoration: none;
    transition: .25s;
}

.contact-button:hover {
    scale: 1.2;
}



/* FOOTER */

footer {
    padding: 10px 0;
    height: fit-content;
    background-color: #354A54;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer h1 {
    font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 2.5rem);
    padding: 5px 0;
}

.footer-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    height: fit-content;
}

.list h2 {
    font-size: clamp(0.9375rem, 0.3819rem + 2.2222vw, 2.1875rem);
}

.list ul {
    list-style: none;
}
.list ul li {
    padding: 3px 0;
}
.list ul li a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

.list ul li a:hover {
    text-decoration: underline;
    color: #17b3e3;
}

footer h4 {
    padding: 5px 8px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px){
    .footer-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}