@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    margin: 0;
    padding: 0;

}

nav {
    height: 10vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    /* 
    EVENTUALLY PUT THIS IN
    position: sticky;
    top: 0;
    */
    
    
}

.logo {
    height: 10vh;
}


.logo img {
    height: 100%;
}

.links ul {
    list-style: none;
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links li a {
    text-decoration: none;
    line-height: 10vh;
    padding: 0 7px;
    color: #00345B;
}

.contact-btn {
    padding: 10px 15px;
    background-color: #17b3e3;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

main {
    height: 90vh;
    background: #17b3e3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.left > * {
    padding: 7px 0;
    color: #fff;
}

.left h1 {
    font-size: 60px;
}

.left h2 {
    font-size: 45px;
}

.left h3 {
    font-size: 35px;
}

.right {
    width: 100%;
}

/* Might Change This */

.right img {
    width: 90%;
}

.btn {
    padding: 12px 17px;
    background-color: #00345B;
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
}

.section1 {
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
}

.section1 h1 {
    color: #00345B;
    text-align: center;
    width: 100%;
}

.card-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.paragraph-text p {
    max-width: 600px;
}

.our-work {
    background-color: #354A54;
    color: white;
    padding: 20px 0;
}

.our-work h1 {
    text-align: center;
    padding: 5px 0;
}

.our-work-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 10px 0;
}

.work-item {
    background-color: #fff;
    width: fit-content;
    padding: 15px;
    color: #17b3e3;
    border-radius: 15px;
}

.work-item img {
    border-radius: 15px;
    width: 100%;
}

.work-item h3, .work-item h6, .work-item a {
    padding: 2px 0;
}

.work-item h3 {
    font-size: 26px;
}

.work-item h6 {
    font-size: 16px;
}

.work-item a {
    color: #354A54;
    text-decoration: none;
    transition: .2s ease-in;
    display: block;
}

.work-item a:hover {
    text-decoration: underline;
    color: #00345B;
}

.why-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
    gap: 50px;
}

.why-us-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.stat {
    background-color: #17b3e3;
    padding: 7px;
    border-radius: 13px;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.stat-num {
    font-size: 30px;
    color: #00345B;
}

.stat h3 {
    font-size: 33px;
}

.all-services-container {
    background-color: #17b3e3;
}

.all-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 0;
    gap: 50px

}

.service-a, .service-b {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.service-a {
    grid-column: 1/3;
}

.service-img-a {
    grid-column: 3/4;
}

.service-b {
    grid-column: 2/4;
}

.service-img-b {
    grid-column: 1/2;
}

.service-img-a img, .service-img-b img {
    width: 100%;
}

.inquire-container {
    background-color: #fff;
    display: grid;
    place-items: center;
    width: 100%;
    height: 70vh;
}

.inquire-container h2 {
    font-size: 40px;
}

.inquire-container h5 {
    font-size: 25px;
}


.inquire-container > * {
    padding: 10px 0;
}

.form-container {
    width: 30%;
    display: block;
}
.form-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}

.form-container form input {
    height: 30px;
    padding: 5px;
    font-size: 16px;
}

.textBox, .form-container form button {
    grid-column: 1 / 3;
    padding: 10px;
}

.textBox {
    font-size: 16px;
}

.form-container form button {
    font-size: 25px;
}

footer {
    height: 60vh;
    background-color: #354A54;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer h1 {
    font-size: 50px
}

.footer-list-container {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.list h2 {
    font-size: 35px;
}

.list ul {
    list-style: none;
}
.list ul li {
    padding: 3px 0;
}
.list ul li a {
    text-decoration: none;
    color: white;
}